body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002147
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-----------------------------------Home section below-----------------------------*/
.home {
  display: flex;
  flex-direction: column;
  background-color: #002147;
  color: white;
  padding-left: 10px;
  height: fit-content;
}

.movie-section h2{
  color: white;
}

.movie-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: red;
  border-radius: 20px;
  position: relative;
}

.movie-card {
  position: relative;
  width: 150px;
  height: 200px;
  margin: 10px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.movie-card a {
  text-decoration: none;
  color: inherit;
}

.movie-card:hover img {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-card:hover:after {
  content: attr(data-title); 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 5px;
  color: white;
  text-align: center;
}

select, input[type="text"] {
  width: 200px;
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  appearance: none;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/546/678/original/vector-movie-theater-cinema-film-reel-unspooling.jpg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 30px;
}

input[type="text"] {
  color: #333;
}

input[type="text"]::placeholder {
  color: #aaa;
}

/* Adjust the hover and focus styles for better feedback */
select:hover, select:focus, input[type="text"]:hover, input[type="text"]:focus {
  border-color: #666;
}






/*-----------------------------------movieInd section below-----------------------------*/
.movie-details {
  padding: 20px;
  background-color: #002147;
  color: white;
  font-size: large;
  padding-top: 60px;
}

.details-container {
  display: flex;
}

.image-container {
  display: flex;
  margin-bottom: 10px;
}

.image-container img {
  width: 275px;
  height: 350px;
  margin-right: 20px;
  border: 1px solid lightblue;
}

.des-container {
  background-color: black;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  height: 330px; /* Fixed height */
  overflow-y: auto;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.timing-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right:30px;
  font-size: medium;
}

/*-----------------------------------Navbar section below-----------------------------*/
.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.navbar-buttons .btn {
  margin-left: 3px;
  margin-right: 30px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-signup {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 60px;
}

.btn-signup:hover {
  color: #0769d1;
  transition: color 0.3s ease;
}

.btn-login {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 60px;
}

.btn-login:hover {
  color: #0769d1;
  transition: color 0.3s ease;
}

.menu-trigger {
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.dropdown-menu {
  position: absolute; 
  top: 10%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-right: 5px;

}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}


.dropdown-menu::before {
  content: '';
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.dropdown-menu ul li:hover a {
  color: #0769d1;
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  /* opacity: 1; */
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
  margin-right: 20px;
  text-align: left;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  /* opacity: 0.5; */
  transition: var(--speed);
} 
/*-------------------------------Registration Section Below------------------------*/

.registration-form {
  background-color: #002147;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:90.5vh; 
  padding-top: 100px;
}

.registration-form h1{
  color: white;
}

.input-list {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-list input {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.input-list input[type="file"] {
  margin-bottom: 10px;
}

.input-list label {
  color: #fff;
  margin-bottom: 10px;
}

.input-list input[type="checkbox"] {
  margin-right: 10px;
}

.registration-form button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 50%;
  margin-left: 70px;
}

.registration-form button:hover {
  background-color: #ccc;
  
}
.input-list input[type="text"],
.input-list input[type="email"],
.input-list input[type="file"],
.input-list input[type="date"]{
    width: 90%; /* Set the width to 100% */
}

/*----------------------------------Login Section------------------------------*/

.login-form {
  background-color: #002147;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:90.5vh; 
}

.login-form button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-form h1{
  color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.input-list input[type="text"],
.input-list input[type="password"]{
    width: 90%; /* Set the width to 100% */
}

.login-form p{
  color: #ccc;
}

/*--------------------------Account Created Page-----------------*/
.account-form {
  background-color: #002147;
  padding: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:20.5vh;
  padding-top: 100px;
}

.account-form h1{
  color: white;
}




/*-------------------------------OrderSummary Section Below------------------------*/

.order-summary {
  background-color: #002147;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center; 
  padding-top: 50px;
  color: white;
}

.order-summary button {
  margin: 5px;
}

.promocode {
  margin-top: auto;
}

/*--------------------------Check Out Page-----------------*/
.background-container{
  background-color: #002147;
  padding: auto;
}

.checkout-container {
  width: 40%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
}

.checkout-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

.checkoutpage-button {
  padding: 10px 20px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
}

.checkoutpage-button:hover {
  background-color: #ccc;
}

.checkout-cancel-button {
  background-color: #f44336;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-cancel-button:hover {
  background-color: #da190b;
}


/*--------------------------Order Confirmation Page-----------------*/
.order-confirmation{
  background-color: #002147;
  padding: 50px 0;
  padding-bottom: 40%;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;
  overflow-y: hidden;
  display: flex; */
  text-align: center;
}

.order-confirmation h1 {
  size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  text-align: center;

}

.order-confirmation p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  line-height: 2;
}

.go-back-button {
  font-size: 1.2rem;
  padding: 1 20px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.go-back-button:hover {
  background-color: #ccc;
}


/*-----------------------Seat Map Page-----------------*/


.seat-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.screen {
  background-color: #ddd;
  /* padding: 10px; */
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 30px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.seat.selected {
  background-color: lightgreen;
}
.seat.booked {
  background-color: grey; /* Bootstrap 'btn-danger' red, for example */
  cursor: not-allowed;
}

.seat-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust spacing as needed */
  color: white;
}

.legend-item span.seat.sample {
  width: 20px; /* Smaller than actual seats for representation */
  height: 20px;
  margin-right: 5px;
}
/* Add additional styling as needed */


/*-----------------------Change Password-----------------*/

.changePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:50.5vh; 
  padding-top: 50px;
}

.changePassword button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.changePassword h2{
  color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*-----------------------Forgot Password-----------------*/

.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:50.5vh; 
}

.forgotPassword button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.forgotPassword h2{
  color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*-----------------------Reset Password-----------------*/
.resetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height:50.5vh; 
  padding-top: 30px;
}

.resetPassword button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.resetPassword h2{
  color: white;
}


/*-----------------------Order History-----------------*/

.order-history-container {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 150px;
}

.card {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:#000;
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

.card th, td {
  padding: 8px;
  border-bottom: 1px solid black;
  text-align: center;
  color: white;
}

.card th {
  background-color: black;
  text-align: center;
}

.card h1{
  text-align: center;
  color: white;
}

.card button{
  color:white;
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


